@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Figtree', ui-sans-serif, system-ui, sans-serif;

    --color-brand-50: #F0F9F4;
    --color-brand-100: #DCF2E3;
    --color-brand-200: #BAE5C8;
    --color-brand-300: #8CD1A4;
    --color-brand-400: #5AB87D;
    --color-brand-500: #379A5E;
    --color-brand-600: #297C49;
    --color-brand-700: #22633B;
    --color-brand-800: #1D4F31;
    --color-brand-900: #19422A;
}